body {
    background-color: rgb(50, 50, 50);
    color: rgb(159, 170, 180);
    /* font-weight: bold; */
    font-family: 'Quantico', serif;
}

input {
    background-color: rgb(50, 50, 50);
    color: rgb(159, 170, 180);
    font-family: 'Quantico', serif;
    width: auto;
}

button {
    background-color: rgb(50, 50, 50);
    color: rgb(159, 170, 180);
    font-family: 'Quantico', serif;
    width: auto;
}

.fr{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
}
.fc{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#score-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    left: 50px;
    position: relative;
}

#inputdiv {
    width: auto;
}
#nextdiv {
    width: 100px;
    height: 100px;
    position: relative;
    left: 60px;
}
#scorediv {
    height: 100px;
}
#controldiv {
    height: 50px;
}
.compact{
    line-height: 20px;
    letter-spacing: -2px;
}