body {
    background-color: rgb(50, 50, 50);
    color: rgb(159, 170, 180);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#ui-container{
    display: flex;
    justify-content: space-around;
}
#score-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

#nextdiv {
    /* line-height: 20px;
    letter-spacing: -2px; */
    width: 100px;
}
#scorediv {
    /* text-align: center; */
    height: 50px;
}
#controldiv {
    /* text-align: center; */
    height: 50px;
}
/* #griddiv {
    line-height: 20px;
    letter-spacing: -2px;
}
#examples {
    line-height: 20px;
    letter-spacing: -2px;
} */
.compact{
    line-height: 20px;
    letter-spacing: -2px;
}